<h1>Welcome ...</h1>
<p>... to the world of Sports Profiling! </p>

<ul>
  <li><%= link_to 'Athletes', athletes_path %></li>
  <li><%= link_to 'Coaches', coaches_path %></li>
  <li><%= link_to 'Create New Athlete Profile', new_athlete_path %></li>
  <li><%= link_to 'Create New Coach Profile', new_coach_path %></li>
</ul>
